<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .main > dt {
                font-weight: bold;
            }
            dd {
                margin-bottom: 0.5em;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
<html>