<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

  {{#intl locales=intl.locale messages=intl.messages}}
    <title>{{intlMessage intlName="TITLE"}}</title>
  {{/intl}}
</head>

<body>
    {{{body}}}
</body>
<html>
